body {
  background-color: #3e5163;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

a {
  color: #491ae4;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header section {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 /8%);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App-footer small {
  font-size: 15px;
}
